.search_form.col-sm-12
  = form_for :search, url: root_path, method: :get, authenticity_token: true, html: { id: 'search_form' } do |f|
    .form-group
      = f.label :city_id
      = f.select :city_id, @cities.map{ |c| [c.name, c.id] }, class: 'form-control', include_blank: true, selected: @search_params[:city_id]
    .form-group
      = f.label :topic_id
      = f.select :topic_id, @topics.map{ |t| [t.name, t.id] }, include_blank: true, selected: @search_params[:topic_id]
    .form-group
      = f.label :start_from
      = f.text_field :start_from, class: 'form-control', value: @search_params[:start_from]
    .form-group
      = f.label :start_upto
      = f.text_field :start_upto, class: 'form-control', value: @search_params[:start_upto]
    .form-actions
      = f.submit 'Search', class: 'btn btn-primary'
      - if user_signed_in?
        |&nbsp;
        = link_to 'Save search params', '#', id: 'save_search_params', class: 'btn btn-outline-secondary'
.clearfix
.events_list.col-sm-12
  hr
  - @events.each do |event|
    .event
      p
        = event.name
        br
        = event.start_at
        br
        = event.city.name
        br
        = event.topics.map{|t| t.name}.join(', ')
