doctype html
html
  head
    title TestMeyvn
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .container
      nav.navbar.navbar-dark.bg-dark
        = link_to 'Test meyvn', root_path, class: 'navbar-brand'
        - if user_signed_in?
          = link_to 'logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light my-2 my-sm-0'
        - else
          = link_to 'Login', new_user_session_path, class: 'btn btn-outline-light my-2 my-sm-0'
          = link_to 'Register', new_user_registration_path, class: 'btn btn-outline-light my-2 my-sm-0'
      .row.col-sm-12
        = yield
